.hm-card-title a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .hm-card-title a:hover {
    color: #0d6efd !important;
  }
  
  .truncate-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4; /* Number of lines to show */
  }
  