.hero {
  /* padding: 50px 0; */
  /* background-color: #4f37ac;
  background-image: linear-gradient(0deg, #0854a9 0%, #4f37ac 100%); */
  background-color: var(--primary-light);
/* background-image: linear-gradient(0deg, #000000 0%, #006400 100%); */

  position: relative;
  z-index: 1;
  /* padding-bottom: 400px; */
  overflow: hidden;
}

#wave {
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; */
  position: absolute;
  bottom: 0;
  z-index: 0;
  height: 100%;
}

.iphone-x {
    position: relative;
    z-index: 1;
    height: 694px;
    width: 342px;
    /* margin-top: -50px; */
    margin-top: 10px;
  }
  
  .iphone-x .side {
    background: #1c1c1c;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9,
      0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
    height: 694px;
    padding: 15px 22px;
    width: 342px;
  }
  
  .iphone-x .screen {
    background: #000;
    background-position: center center;
    background-size: cover;
    border-radius: 33px;
    position: relative;
    height: 652px;
    width: 300px;
    margin-left: -1px;
    margin-top: 6px;
    z-index: 198;
    overflow: hidden;
  }
  
  video {
    height: 820px;
    width: 370px;
    margin-top: -85px;
    margin-left: -35px;
  }
  
  /* .line {
    height: 2px;
    background: #e2e3e9;
    position: absolute;
    width: 100%;
    bottom: 0;
  } */
  
  .volume-button {
    width: 5px;
    height: 80px;
    background: #c8cacb;
     /* background: #e2e3e9; */
    border-radius: 2px;
    position: absolute;
    left: -4px;
    top: 160px;
  }
  
  .power-button {
    width: 5px;
    height: 40px;
    background: #c8cacb;
     /* background: #e2e3e9; */
    border-radius: 2px;
    position: absolute;
    right: -4px;
    top: 160px;
  }
  
  .hero-divider {
    border: 0;
    border-top: 1px solid #999;
    width: 85%;
    margin: auto;
  }

  .ar-hero-heading{
    color: white;
  }
  
  @media (max-width: 991px) {
    .ar-hero-heading{
      color: var(--primary-color);
    }
    }