.navbar{
    box-shadow: 0px 0px 10px 0px rgba(92, 95, 101, 0.1);
}
.navbar-brand .logo{
/* width: 50px; */
width: 100%;
height: 65px;
/* width: 75px;
height: 50px; */
}

.nav-get-started {
    /* background: linear-gradient(to right, #e62e4d, #9b00fa); */
    background-color: var(--btn-color);
    /* background: linear-gradient(to right, rgb(0, 128, 0), rgb(0, 0, 0)); */
    border-radius: 50px;
}

.nav-get-started:hover {
    background-color: var(--btn-color);
    /* border: 1px solid white; */
}


/* Smooth fade-in and fade-out effect for mobile */
.fade-in {
    opacity: 1;
    max-height: 1000px; 
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
  }
  
  .fade-out {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    overflow: hidden;
  }

  
  
  /* 
    Override Bootstrap's display rules for .collapse on mobile:
    Force the navbar collapse to display block (even in fade-out/fade-in states)
    so that our transitions on opacity and max-height can take effect.
  */
  @media (max-width: 991px) {
    .navbar-collapse.fade-in,
    .navbar-collapse.fade-out {
      display: block !important;
    }
  }
  