footer a {
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #f8f9fa;
    text-decoration: underline;
  }
  
  footer ul {
    padding-left: 0;
  }
  
  footer li {
    list-style: none;
  }
  